#formulario {
    height: auto;
    margin: 0 auto;
    background: white;
    margin-top: 60px;
    border-radius: 4px;
}


/*css-internet*/

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    position: relative;
    height: 300px;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    min-height: 300px;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
}

#cardapioTamanho {
    width: 200px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #cecece;
}

::-webkit-scrollbar-thumb {
    background-color: #343a40;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#cardapios {
    /*border:1px solid red;*/
    text-align: center;
    margin-left: 3px;
    background: rgba(0, 0, 0, .8);
    color: white;
    border-top-left-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #cecece;
}

::-webkit-scrollbar-thumb {
    background-color: #cecece;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#agenda2 {
    height: 500px;
}

#inputData {
    border: 1px solid #cecece;
    outline: none;
    width: 100%;
    color: #69696d;
}

#Cardapio {
    width: auto;
    height: 400px;
    overflow-y: scroll;
    margin: 0 auto;
}

#car {
    border: 1px solid #cecece;
    text-align: center;
    width: 300px;
    height: 390px;
    margin-top: 10px;
    overflow-y: scroll;
}

#fonte {
    font-family: 'Antonellie Callygraphy Demo';
    font-size: 18pt;
}

#cardapioControle {
    /*border:1px solid red;*/
    width: auto;
    height: 300px;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: auto;
}